* {
    all: unset; // Unsets everything so you can style everything from scratch
}

// Global styles
window {
    background-color: #3a3a3a;
    color: #b0b4bc;
    font-family: 'FiraCode Nerd Font';
}

// Styles on classes

.sidestuff slider {
    all: unset;
    color: #ffd5cd;
}

.slider-vol scale trough highlight {
    all: unset;
    background-color: #D35D6E;
    color: #000000;
    border-radius: 10px;
}

.slider-vol scale trough {
    all: unset;
    background-color: #4e4e4e;
    border-radius: 50px;
    min-height: 3px;
    min-width: 50px;
    margin-left: 10px;
    margin-right: 20px;
}

.slider-ram scale trough highlight {
    all: unset;
    background-color: #D35D6E;
    color: #000000;
    border-radius: 10px;
}

.slider-ram scale trough {
    all: unset;
    background-color: #4e4e4e;
    border-radius: 50px;
    min-height: 3px;
    min-width: 50px;
    margin-left: 10px;
    margin-right: 20px;
}

.label-ram {
    font-size: large;
}

.time {
    padding-right: 10px;
}

.workspaces button:hover {
    color: #D35D6E;
}
